.sisu-header{
   color: white;
   width: 100%;
   height: 107px;
   background: #5c8f96;
   position: relative;
}

.sisu-header .title-container{
   padding-left: 2em;
   padding-top: 30px;
   display: flex;
}

.sisu-header .sub-title{
   margin-top: -10px;
   margin-left: 10px;
}

.sisu-header .title{
   font-size: 3em;
}

.sub-header{
    position: absolute;
    padding-left: 2em;
    height: 28px;
    line-height: 28px;
    width: 100%;
    bottom: 0;
    background: #2c545b;
}
